.form {
    display: flex;
}

.form input {
    flex: 1;
    font-size: 1.25rem;
    outline: none;
    border: none;
    border-bottom: 1px solid #282c34;
}

.create-btn {
    padding: 0.5rem 1rem;
    margin-left: 10px;
    background: #343a40;
    border-radius: 3px;
    color: white;
    font-weight: 600;
    cursor: pointer;
    border: 0;
}

.create-btn:hover {
    background: #23272b;
}
